body{
    width: 100%;
    height: 100%;
}

li{
    list-style-type: none;
}

.points__list {
  position: fixed;
  top: 50px;
  right: 30px;
}

.points__link {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
}
  .points__link:after, .points__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
  .points__link:after {
    width: 6px;
    height: 6px;
    background: #fff;
}
  .points__link:before {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0;
    transition: .3s;
}
  .points__link:hover:before {
    width: 14px;
    height: 14px;
    opacity: 1;
}

.points__item.active .points__link:before {
  width: 14px;
  height: 14px;
  opacity: 1;
}

.points__item {
  margin-bottom: 5px;
}


/* header */

.header{
    width: 100%;
    height: 1000px;
    background-image: url(/image/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%; 
}

.header-top{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    flex-wrap: wrap;
}

.logo{
    margin-right: 170px;
}

.nav-block{
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-li{
    display: inline-block;
    vertical-align: middle;
}

.nav-li:after{
    display: inline-block;
    vertical-align: middle;
    content: " ";
    border-radius: 50%;
    padding:3px;
    background-color: white;
    margin: 10px
}


ul li{
    list-style-type: none;
}

ul li a {
    color:white;
    text-decoration: none;
}

.order-link{
    padding: 10px 17px;
    border-radius: 5px;
    background-color: #E45028;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #E45028;
    text-decoration: none;
    text-transform: uppercase;

}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 16%;
}

.text-yellow{
    text-transform: uppercase;
    color: #F9B43B;
    font-family: 'gagalinregular';
    font-size: 100px;   
}

.text-white{
    color: white;
    width: 10%;
    font-family: 'lifehackmedium';
    font-size: 55px;
}

a, a:active, a:hover, a:visited{
    text-decoration: none;
    color: white;
}
/* content */

.content{
    background-image: url(/image/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    height: 950px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
}

.content-sidebars{
    display: flex;
    flex-wrap: wrap;
    
}

.content-head{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 102px;
    font-family: 'gagalinregular';
    line-height: 50px;
}

.left-sidebar, .center-sidebar, .right-sidebar{
    width: 300px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
    margin: 10px;
    vertical-align: top;
}

.left-sidebar_name{
    font-family: 'lifehackmedium';
    font-size:20px;
}

.left-sidebar_text{
    text-align: center;
    font-family: 'ubuntulight';
    font-size:14px;
    margin-top: 5px;
}


/* comments */
.comments{
    display: flex;
}
.comments2{
    display: flex;
}

.peaple{
    max-height: 480px;
    max-width: 700px;
    min-height: 300px;
    min-width: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    

}

.comment{
    padding-top: 30px;
    opacity: 0;
    display: inline-table;
    vertical-align: middle;

}

.comment:hover{
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.name{
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-left: 50px;
    font-family: 'gagalinregular';
    font-size:20px;
}

.comment_text{
    padding:  50px;
    padding-top: 15px;
    font-family: 'ubuntulight';
    font-size:15px;
}

.backColor_comment{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;

}

.more{
    width: 100px;
    height: 30px;
    background-color: #2F3234;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  50px;
    margin-top: -30px;
}




